*.suo
*.bak
*.user
*.vs10x
*.psess
*.vsp
*.rul
*.pdb
*.Web.g.cs
*.csproj.user
*.vshost.exe
*.vshost.exe.config
*.tlog
*.opensdf
sys$command
pingme.txt
obj/
bin/
csx/
LocalData/
LocalDocument/
TestResults/
Temporary/
Debug/
Release/
ipch/
packages/
